- var url          = '';
- var local_url    = 'http://192.168.11.3:3000/';
- var site_name    = '';
- var og_locale    = 'jp_JP';
- var og_type      = 'company';
- var twitter_card = 'summary_large_image';
- var twitter_site = '@';
- var title        = '';
- var description  = '';
- var og_img       = 'img/ogp.png';
- var favicon      = './favicon.ico';
- var path         = '..'

doctype html

html(lang="ja")
  head
    include ../include/_head
  body
    include ../include/_header
    main
      .page
        .page__here
          h1.section-title CONTACT
            span
              p.text-large お問い合わせ
      section.contact
        form(action="").contact__form
          .contact__form__item
            label(for="your-company").text-bold.label 会社名
            input(type="text" name="your-company" placeholder="会社名が入ります" required="required").input
          .contact__form__item
            label(for="your-name").text-bold.label 氏名
            input(type="text" name="your-name" placeholder="山田 太郎" required="required").input
          .contact__form__item
            label(for="your-email").text-bold.label メールアドレス
            input(type="email" name="your-email" placeholder="sample@com" required="required").input
          .contact__form__item
            label(for="your-tel").text-bold.label 電話番号
            input(type="tel" name="your-tel" placeholder="000-0000-0000" required="required").input
          .contact__form__item
            label(for="your-content").text-bold.label お問い合わせ内容
            textarea(cols="130", rows="6" name="your-content").textarea
          .contact__form__item.checkbox
            input(type="checkbox" required="required")
            label(for="").text-bold.label
              a(href=path+"/privacy/").text-normal 個人情報保護方針
              br.sp-only
              p.text-normal に同意をお願いいたします
          .contact__form__item
            input(type="submit" value="送信する").btn.btn-hover01

    include ../include/_script
    include ../include/_footer
