.section-title {
	@include pc {
		@include font(
			$fontSize: 35px,
			$weight: 700,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.75
		);
	}

	@include sp {
		@include font(
			$fontSize: 25px,
			$weight: 700,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.75
		);
	}
}

.text-title {
	@include pc {
		@include font(
			$fontSize: 30px,
			$weight: 700,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.75
		);
	}

	@include sp {
		@include font(
			$fontSize: 20px,
			$weight: 700,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.75
		);
	}
}

.text-large {
	@include pc {
		@include font(
			$fontSize: 20px,
			$weight: 700,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.75
		);
	}

	@include sp {
		@include font(
			$fontSize: 20px,
			$weight: 700,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.75
		);
	}
}

.text-bold {
	@include pc {
		@include font(
			$fontSize: 15px,
			$weight: 700,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.5
		);
	}

	@include sp {
		@include font(
			$fontSize: 15px,
			$weight: 700,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.5
		);
	}
}

.text-normal {
	@include pc {
		@include font(
			$fontSize: 15px,
			$weight: 400,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.5
		);
	}

	@include sp {
		@include font(
			$fontSize: 15px,
			$weight: 400,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.5
		);
	}
}

.text-small {
	@include pc {
		@include font(
			$fontSize: 13px,
			$weight: 400,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.5
		);
	}

	@include sp {
		@include font(
			$fontSize: 13px,
			$weight: 400,
			$style: normal,
			$kerning: 25,
			$lineheight: 1.5
		);
	}
}
